* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

.body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f7ff;
}

.body__class {
  width: 25%;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  border-radius: 3%;
  background-color: white;
}

.header {
  width: 25%;
}

.header__img {
  width: 400%;
  border-radius: 3% 3% 0 0;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 40px 0;
  font-weight: 700;
  font-size: 28px;
}

.main__article {
  font-size: 16px;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 60%;
  color: gray;
  margin-bottom: 30px;
}

.main__footer-on-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main__price-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px;
}

.main__img {
  height: 38px;
}

.main__btn-to-change {
  border: 0;
  background-color: white;
  color: #3829e0;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 60px;
  cursor: pointer;
}

.main__btn-to-change:hover {
  text-decoration: none;
}

.main__money-text {
  font-size: 16px;
  font-weight: 700;
}

.main__money {
  color: gray;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn1 {
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 90%;
  font-weight: 700;
  border: 0;
  background-color: #3829e0;
  border-radius: 12px 12px 12px 12px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid white;
}

.footer__btn1:hover {
  background-color: #8b82ed;
}

.footer__btn2 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 16px;
  color: gray;
  width: 90%;
  border: 0;
  font-weight: 700;
  background-color: white;
  border-radius: 1%;
  cursor: pointer;
  margin-bottom: 40px;
  padding: 15px 0;
}

@media (max-width: 1024px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 22px;
  }
  .main__article {
    font-size: 20px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 5px 20px 5px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 18px;
  }
  .main__money {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 22px;
  }
  .main__article {
    font-size: 20px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 5px 20px 5px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 18px;
  }
  .main__money {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 22px;
  }
  .main__article {
    font-size: 20px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 5px 20px 5px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}

@media (max-width: 411px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 22px;
  }
  .main__article {
    font-size: 20px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 5px 20px 5px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 16px;
  }
  .main__article {
    font-size: 12px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 5px 20px 5px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 5px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}

@media (max-width: 280px) {
  .body__class {
    min-width: 90%;
  }
  .main__heading {
    font-size: 16px;
  }
  .main__article {
    font-size: 12px;
  }
  .main__footer-on-main {
    font-size: 8px;
    margin: 0 3px 20px 3px;
  }
  .main__img {
    height: 36px;
  }
  .main__money-text {
    font-size: 16px;
  }
  .main__btn-to-change {
    font-size: 16px;
    margin-left: 2px;
  }
  .footer__btn1 {
    font-size: 16px;
  }
  .footer__btn2 {
    font-size: 16px;
  }
}
