* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}



.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);


    &__class {
        // border: 1px solid black;
        width: 25%;
        box-shadow: 1px 1px 1px gray;
        border-radius: 3%;
        background-color: white;

    }
}

.header {
    width: 25%;

    &__img {
        width: 400%;
        border-radius: 3% 3% 0 0;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__heading {
        align-self: center;
        margin: 40px 0;
        font-weight: 700;
        font-size: 28px;
    }

    &__article {
        font-size: 16px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        width: 60%;
        color: gray;
        margin-bottom: 30px;
    }

    &__footer-on-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__price-center {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }

    &__img {
        height: 38px;
    }

    &__btn-to-change {
        border: 0;
        background-color: white;
        color: hsl(245, 75%, 52%);
        font-weight: bold;
        text-decoration: underline;
        margin-left: 60px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    &__money-text {
        font-size: 16px;
        font-weight: 700;
    }

    &__money {
        color: gray;
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn1 {
        padding: 15px 0;
        text-align: center;
        color: white;
        font-size: 16px;
        width: 90%;
        font-weight: 700;
        border: 0;
        background-color: hsl(245, 75%, 52%);
        border-radius: 12px 12px 12px 12px;
        cursor: pointer;
        margin-bottom: 10px;
        border: 1px solid white;

        &:hover {
            background-color: hsl(245, 75%, 72%);
        }

    }

    &__btn2 {
        flex-shrink: 1;
        font-size: 16px;
        color: gray;
        width: 90%;
        // font-weight: bold;
        border: 0;
        font-weight: 700;
        background-color: white;
        border-radius: 1%;
        cursor: pointer;
        margin-bottom: 40px;
        padding: 15px 0;
    }
}

@media(max-width:1024px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 22px;
        }

        &__article {
            font-size: 20px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 5px 20px 5px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 18px;
        }

        &__money {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}

@media(max-width:540px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 22px;
        }

        &__article {
            font-size: 20px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 5px 20px 5px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 18px;
        }

        &__money {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}


@media(max-width:414px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 22px;
        }

        &__article {
            font-size: 20px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 5px 20px 5px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}

@media(max-width:411px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 22px;
        }

        &__article {
            font-size: 20px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 5px 20px 5px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}

@media(max-width:360px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 16px;
        }

        &__article {
            font-size: 12px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 5px 20px 5px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}

@media(max-width:280px) {
    .body {
        &__class {
            min-width: 90%;
            // max-height: 90%;
        }
    }

    .main {
        &__heading {
            font-size: 16px;
        }

        &__article {
            font-size: 12px;
        }

        &__footer-on-main {
            font-size: 8px;
            margin: 0 3px 20px 3px;
        }

        &__img {
            height: 36px;
        }

        &__money-text {
            font-size: 16px;
        }

        &__btn-to-change {
            font-size: 16px;
            margin-left: 2px;
        }
    }

    .footer {
        &__btn1 {
            font-size: 16px;
        }

        &__btn2 {
            font-size: 16px;
        }
    }
}